
	<div class="row login-page">

		<div class="col-md-6 col-xs-10 col-xs-offset-1 col-md-offset-3">
		  <%= render 'shared/flash' %>
			<%= form_tag login_path do %>
			
			<%= label_tag :email, "Email" %>
			<%= email_field_tag :email, nil, class: 'form-control' %>

			<%= label_tag :password, "密碼" %>
			<%= password_field_tag :password, nil, class: 'form-control' %>

			<%= label_tag :remember_me, class: "checkbox inline" do %>
			<%= check_box_tag :remember_me %>
			<p>記住我</p>
			<% end %>
			
			<%= submit_tag "Log in", class: "btn btn-default btn-custom" %>	

			<% end %>
			<%= link_to "註冊!", signup_path %>
		</div>
	</div>
