<% provide(:title, "") %>
<div class="row">
  <div class="col-md-5 col-sm-5 col-xs-11 index-year">  
    <% @articles_by_year.each do |year, articles| %>
      <h5><%= "#{year.strftime('%Y')} (#{articles.count})" %></h4>
  	  <div class="index-articles">
  	    <% for article in articles %>
  	  	  <%= "#{article.created_at.to_s(:simple_month_day)}-" %>
  		    <%= link_to "#{article.title}", user_article_path(article) %><br>
          
          <%= show_link(current_user?(@user), "刪除", user_article_path(article),
            method: 'delete', data: {confirm: "確定?"},style: "delete-link") %>
          <%= show?(current_user?(@user), :span, "---", style: "link-sym") %>
          <%= show_link(current_user?(@user), "編輯", edit_user_article_path(article), style: "edit-link") %>

  		    <HR class="hr-2">
  	    <% end %>	
  	  </div>  
    <% end %>
  </div>
  <div class="col-md-4 col-sm-4 hidden-xs" id="box-3">
    <div id="tags">
      <span class="glyphicon glyphicon-tags"></span>CATEGORIES
        </div>
          <div class="user-show-tags">
            <%= render partial: 'shared/tags', collection: @tags, as: :tag %>
          </div>
      </div>
    </div>  
  </div>
<div class="pagi">
  <%= paginate @articles, :window => 2 %>
</div>