<% provide(:title, "#{blog_title_now} - New") %>
<div class="row article-new">
	<div class="col-md-10 col-xs-11 col-xs-offset-0 col-md-offset-1">
		<%= form_for([current_user, @article]) do |f| %>
		  <%= render 'shared/error_messages', var: @article %>
		  
		  <%= f.label :title, "標題" %>
		  <%= f.text_field :title, class: 'form-control', id: "article-new-title" %></br>
	    
		  <%= f.label :content, "內文" %>
		  <%= f.text_area :content, class: :redactor %>
			<HR>
		  <%= f.submit "Save", class: "btn btn-default btn-custom" %>
		<% end %>
	</div>
</div>
