<div class="row article-new">
		<div class="col-md-8 col-xs-8 col-xs-offset-2 col-md-offset-2">
			<%= form_for([current_user, @article]) do |f| %>
			<%= render 'shared/error_messages', var: @article %>
			
			<%= f.label :title, "標題" %>
			<%= f.text_field :title, class: 'form-control', id: "article-title" %></br>
		
			<%= f.label :content, "內文" %>
			<div class="redactor_box">
			<%= f.text_area :content, class: :redactor %></br>
			</div>
			<%= f.submit "確認送出", class: "btn btn-default btn-custom" %>
			<% end %>
		</div>
</div>
