<% provide(:title, "#{blog_title_now} - #{@article.title}") %>
<div class="article-show-page">
	<%= render 'shared/flash' %>
	<h4 class="article-show-page-title"><%= @article.title %></h4>
	<HR class="dark-hr"> 
	<div class="col-md-10 col-xs-10 col-xs-offset-1 col-md-offset-1 article-content">
		<%= raw @article.content %>
		<div class="article-show-tags">
      <span class="glyphicon glyphicon-tags"></span>
      <%= raw article_tags(@article.tags) %>
    </div>
	</div>
</div>

<HR class="dark-hr"> 
<div><h4><%= link_to "回上頁", request.referer, class: "return" %></h4></div>