<% provide(:title, "#{@article.title}") %>
<div class="row article-show-page">
  <div class="col-md-10 col-xs-12 col-md-offset-1 article-show-content">
	  <%= render 'shared/flash' %>
	  <h4 class="article-show-page-title"><%= @article.title %></h4>
		<%= raw @article.content %>
		<div class="article-show-tags">
      <span class="glyphicon glyphicon-tags"></span>
      <%= raw article_tags(@article.tags) %>
    </div>
  </div>
  <div class="col-md-12 col-xs-12" id="return">
    <%= link_to "回上頁", request.referer %>
  </div>
</div>

