<% provide(:title, "#{@article.title}") %>
<div class="row">
  <div class="col-md-10 col-xs-12 col-md-offset-1 article-page">
 
    <article class="user-articles">
      <div class="article-head"></div>
	    <div class="article-title"><%= @article.title %> </div>       
      <div class="created-at">
        <span>By </span><%= link_to "#{@user.name}", about_me_user_path(@user), id: "user-name" %>
        <span> · </span><%= @article.created_at.to_s(:month_day_year) %>
        <%= show_link_if(current_user?(@user), "編輯", edit_user_article_path(@user, @article),
          class: "article-show-edit" ) %>
      </div>
  
		  <%= markdown(@article.content) %>
		  <div class="article-show-tags">
        <span class="glyphicon glyphicon-tags article-show-icon"></span>
        <span><%= raw tag_list(@article.tags) %></span>
      </div>
    </article>
  </div>
  
 
  <div class="col-md-4 col-sm-4 col-xs-6 col-sm-offset-2 col-md-offset-2 related-left">
    <%= related_articles(@related_articles[0]) %>
    <%= related_articles(@related_articles[2]) %> 
  </div>
  <div class="col-md-4 col-sm-4 col-xs-6 related-right">
    <%= related_articles(@related_articles[1]) %>
    <%= related_articles(@related_articles[3]) %> 
  </div>
  

  <div class="col-md-12 col-xs-12" id="return">
    <%= link_to "return", request.referer %>
  </div>
</div>

<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'nooffy';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

