<% provide(:title, "#{@article.title}") %>
<div class="row article-page">
  <article class="col-md-8 col-xs-12 col-md-offset-2 user-articles">
	  <span class="article-title"><%= @article.title %> </span>       
    <div class="created-at">
      <span>By </span><%= link_to "#{@user.name}", about_me_user_path(@user), id: "user-name" %>
      <span> · </span><%= @article.created_at.to_s(:month_day_year) %>
      <%= show_link_if(current_user?(@user), "編輯", edit_user_article_path(@user, @article),
        class: "article-show-edit" ) %>
    </div>
 
    <%= markdown(@article.content) %>


		<div class="article-show-tags">
      <span class="glyphicon glyphicon-tags article-show-icon"></span>
      <span><%= raw tag_list(@article.tags) %></span>
    </div>
  </article>
  
  <div id="related-articles" class="col-md-8 col-xs-12 col-md-offset-2">
    <span>相關文章</span>
    <div class="related-left">
      <%= related_articles(@related_articles[0]) %>
      <%= related_articles(@related_articles[2]) %> 
    </div>
    <div class="related-right">
      <%= related_articles(@related_articles[1]) %>
      <%= related_articles(@related_articles[3]) %> 
    </div>
  </div>  
  

  <div class="col-md-12 col-xs-12" id="return">
    <%= link_to "return", request.referer %>
  </div>
</div>

<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'nooffy';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

