<div class="user-articles">
	<%= link_to user_article_path(@user, article) do %>
	  <%= content_tag(:div, article.title, class: "user-article-title") %>
	<% end %>
	<div class="created-at">
		<span>By </span><%= content_tag(:span, "#{@user.name}", id: "user-name") %>
		<span> · </span><%= article.created_at.to_s(:month_day_year) %>
	</div>
		<%= raw article.content.truncate(850) %></pre><br>
		<%= link_to "Read more..", user_article_path(@user, article), 
				class: "btn btn-default btn-custom" %><br>
		<HR class="hr-2">		
</div>