<div class="user-articles">
	<div class="user-article-head"></div>
	<div class="user-article-head1"></div>
	<%= link_to user_article_path(@user, article) do %>
	  <%= content_tag(:div, article.title, class: "user-article-title") %>
	<% end %>

	<div class="created-at">
		<span>By </span><%= link_to "#{@user.name}", about_me_user_path(@user), id: "user-name" %>
		<span> · </span><%= article.created_at.to_s(:month_day_year) %>
	</div>
		<%= markdown(article.content.truncate(750)) %></pre><br>
		<%= link_to "Read more..", user_article_path(@user, article), 
				class: "btn btn-default btn-custom" %><br>
		<HR class="hr-2">		
</div>