<% provide(:title, "#{blog_title_now} - Setting") %>
<div class="row article-new">
	<div class="col-md-6 col-xs-10 col-xs-offset-1 col-md-offset-0">
		<%= render 'shared/flash' %>
	  <%= form_for(@user) do |f| %>
		  <%= render 'shared/error_messages', var: @user %>
		 
		  <p class="account-setting">Blog Title</p>
		  <p class="account-old-setting"><%= blog_title_now %></p>
			<HR>
			<%= f.label :title, "Enter Your New Title", class: "account-setting" %>
			<%= f.text_field :title, class: 'form-control' %>
			<HR>
		  <p class="account-setting">Your Name</p>
		  <p class="account-old-setting"><%= current_user.name %></p>
			<HR>
		  <%= f.label :name, "Enter Your New Name", class: "account-setting" %>
		  <%= f.text_field :name, class: 'form-control' %>
 		 	<HR>		
			<div class="gravatar_edit">
				<p class="account-setting">目前頭像</p>
    	  <%= gravatar_now %>
      </div>   
			
			<div class="gravatar-check-box">
			  <%= f.label :gravatar do %>
			   <%= f.check_box :gravatar %>
			   <span>使用自訂頭像</span>
			  <% end %> 
			</div>
			
		  <p class="account-setting">
		 	 <a href="https://zh-tw.gravatar.com/emails/" target="_blank">上傳或變更自訂頭像</a>
		  </p>
			<HR>
		  <%= f.submit "Save", class: "btn btn-default btn-custom" %>
		<% end %>
	</div>
</div>
