<% provide(:title, "Setting") %>
<div class="row article-new">
	<%= form_for(@user, html: { multipart: true }) do |f| %>
	  <div class="col-md-6 col-xs-10">
      <%= render 'shared/error_messages', var: @user %>
		
<!-- 			<div>
				關於calendar<br>
        <%= f.label :event_days, "顯示任務" %>
        <%= f.check_box :event_days %>
        <%= f.label :article_days, "文章日期" %>
        <%= f.check_box :article_days %>
        <%= f.label :today, "標示今天" %>
        <%= f.check_box :today %>
      </div>
 -->
		 
	    <p class="account-setting">Blog Title</p>
		  <p class="account-old-setting"><%= "#{@user.title}" %></p>
			<%= f.label :title, "Enter Your New Title", class: "account-setting" %>
			<%= f.text_field :title, class: 'form-control' %>
			<HR class="hr-2">

		  <p class="account-setting">Your Name</p>
		  <p class="account-old-setting"><%= current_user.name %></p>
		  <%= f.label :name, "Enter Your New Name", class: "account-setting" %>
		  <%= f.text_field :name, class: 'form-control' %>
 		 	
 		 	<HR class="hr-2"> 		
			  <div class="gravatar_edit">
				  <p class="account-setting">目前頭像</p>
    	    <%= gravatar_now %>
        </div>   		
			  <div class="gravatar-check-box">
			    <%= f.label :gravatar do %>
			      <%= f.check_box :gravatar %>
			      <span>使用自訂頭像(Gravatar)</span>
			    <% end %> 
			  </div>			
		  <p class="account-setting">
		 	 <a href="https://zh-tw.gravatar.com/emails/" target="_blank">上傳或變更自訂頭像</a>
		  </p>
			<HR class="hr-2"> 

			<div>
				<p class="account-setting">首頁圖</p>
      	<%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
      	<%= f.hidden_field :picture_cache %>
      	<label>
      		<%= f.check_box :remove_picture %>
      		Remove picture
      	</label>
      	<HR class="hr-2">
      </div>
      	
		</div>

		<div class="col-md-6 col-xs-11 edit_about_me">
			<%= f.label :about_me %>
			<%= f.text_area :about_me %>
			<HR class="hr-2"> 
		</div>

		<div class="col-md-12 col-xs-12  user-edit-submit">
		  <%= f.submit "Save", class: "btn btn-default btn-custom" %>
	  </div>

	<% end %>
</div>
