<% provide(:title, "#{blog_title_now}") %>
<%= render 'shared/flash' %>
<div class="row">
  <div class="col-md-3 col-sm-3 col-xs-12" id="gravatar_for_showpage">
    <h1><%= gravatar_for(@user, size: 130) %></h1>
    <div id="icon-plus"><%= correct_icon_link %></div>
  </div>


	<div class="col-md-8 col-sm-8 col-xs-10">
			
		
		
		
		<% @articles.each do |article| %>
		<div class="user-article-show">
			<div class="user-article-title">
			  <%= link_to article.title, user_article_path(@user, article)%>
			  <span class="glyphicon glyphicon-tag"></span>
		  </div>
			<HR class="dark-hr">
			<%= raw article.content.truncate(850) %></pre><br>
			<%= link_to "Read more..", user_article_path(@user, article), 
														class: "btn btn-default btn-custom" %><br>
			<div class="created-at">
				<%= article.created_at.to_s(:month_day_year) %>
			</div>
		</div>
		<% end %>
	</div>
</div>


<div class="pagi">
<h4><%= paginate @articles, :window => 2 %><h4>
</div>
