<h1>Test</h1>
<div class="pagi">
<h3><%= paginate @articles, :window => 2 %><h3>
</div>
<div class="row">
	<div class="col-md-8 col-xs-8 col-xs-offset-2 col-md-offset-2">
		<%= render 'shared/flash' %>
		<% @articles.each do |article| %>
		<div class="article-show">
			<h3><%= raw article.title %></h3>
			<HR>
			<%= raw article.content.truncate(650) %></pre><br>
			<%= link_to "閱讀全文", user_article_path(@user, article), 
														class: "btn btn-default btn-custom" %><br>
			<div class="created-at">
				<%= article.created_at %>
			</div>
		</div>
		<% end %>
	</div>
</div>
