<% provide(:title, "") %>
<div class="row">
  <div class="col-md-3 col-sm-3 col-xs-11" id="side-bar">
  	<div class="row">
  		<div class="col-md-9 col-sm-10 col-xs-5" id="box-1">
 	    	<%= gravatar_for(@user, size: 130, id: "gravatar-1") %>
 	    </div>
  	  <div class="col-md-9 col-sm-10 col-xs-6" id="box-2">
  	  	<div id="box-2-1">
          <%= link_to "About", about_me_user_path %>
        </div>
  	  	<div id="box-2-2">
  	  		<div id="box-2-2-1"><%= correct_icon_link %></div>
  	  	</div>
  	  </div>
  	  <div class="col-md-12 col-sm-12 hidden-xs" id="box-3">
				<div id="tags">
					<span class="glyphicon glyphicon-tags"></span>CATEGORIES
				</div>
					<div class="user-show-tags">
						<%= render partial: 'shared/tags', collection: @tags, as: :tag %>
				  </div>
  	  </div>
 	  </div>  
  </div>
  <%= render 'shared/flash' %>  
	<div class="col-md-9 col-sm-9 col-xs-12" id="articles">
	  <%= render partial: 'shared/articles', collection: @articles, as: :article %>	
	</div>
</div>


<div class="pagi">
  <%= paginate @articles, :window => 2 %>
</div>
