<% provide(:title, "#{blog_title_now}") %>
<%= render 'shared/flash' %>
<div class="row">
  <div class="col-md-3 col-sm-3 col-xs-12" id="side-bar">
  	<div class="row">
  		<div class="col-md-12 col-sm-12 col-xs-5" id="box-1">
 	    	<%= gravatar_for(@user, size: 150, id: "gravatar-1") %>
 	    </div>
  	  <div class="col-md-12 col-sm-12 col-xs-7" id="box-2">
  	  	<div id="box-2-1"><%= correct_icon_link %></div>
  	  	<div id="box-2-2"><span>About</span></div>
  	  </div>
 	  </div>  
  </div>


	<div class="col-md-8 col-sm-8 col-xs-11">
			
		<% @articles.each do |article| %>
		<div class="user-article-show">
			<div class="user-article-title">
			  <%= link_to article.title, user_article_path(@user, article)%>
			  <span class="glyphicon glyphicon-tag"></span>
		  </div>
			<HR class="dark-hr">
			<%= raw article.content.truncate(850) %></pre><br>
			<%= link_to "Read more..", user_article_path(@user, article), 
														class: "btn btn-default btn-custom" %><br>
			<div class="created-at">
				<%= article.created_at.to_s(:month_day_year) %>
			</div>
		</div>
		<% end %>
	</div>
</div>


<div class="pagi">
<h4><%= paginate @articles, :window => 2 %><h4>
</div>
