<div class="container-fluid">
		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown">
				<button type="button" class="dropdown-toggle" data-toggle="dropdown">
				<span class="glyphicon glyphicon-user"></span>
				<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li>
						<%= link_to "回#{current_user.name}的部落格", user_path(current_user) %>
						<%= link_to "撰寫文章", new_user_article_path(current_user) %>
            <%= link_to "文章管理", user_articles_path(current_user) %>
            <%= link_to "設定", edit_user_path(current_user) %>
            <%= link_to "other", users_path %>
					</li>
					<li class="divider"></li>
					<li >
						<%= link_to "登出", logout_path, method: :delete %>
					</li>
				</ul>
			</li>
		</ul>
	</div>