<% provide(:title, "#{@tag.name}") %>
<div class="row">
  <div class="col-md-5 col-sm-5 col-xs-11 tag-name">
  	<h5>
  		<%= "#{@tag.name}(#{@tag.articles.size})" %>
  	</h5>
  	<div class="articles-list">
  		<% @articles.each do |article| %>
        <%= "#{article.created_at.to_s(:simple_month_day)}" %><br>
        <div class="articles-list-each-item">
          <%= article_state(article) %>
          <%= link_to "#{article.title}", user_article_path(@user, article),
           class: "index-article-title" %><br>
          <%= article_option(article) %>
        </div>  
        <HR class="hr-2">
  	  <% end %>	
  	</div>  
	</div>
</div>

