<div class="col-md-11 col-sm-11 col-xs-10" id="option-list">
  <%= link_to about_me_user_path(@user) do %>
    <div id="box-1">
      <span class= "glyphicon glyphicon-info-sign"></span>
      <span>About</span>
    </div>
  <% end %>
  <%= hidden_box("small", "xs") %>
  <%= link_to user_articles_path(@user) do %>
    <%= content_tag(:div, id: "box-2") do%>
      <span class= "glyphicon glyphicon-book"></span>
      <%= content_tag(:span, "Blog Archive") %>
    <% end %>
  <% end %>
  <%= hidden_box("small", "xs") %>
  <%= link_to article_series_user_articles_path(@user) do %>
    <%= content_tag(:div, id: "box-3") do%>
      <span class= "glyphicon glyphicon-list-alt"></span>
      <%= content_tag(:span, "系列文章") %>
    <% end %>
  <% end %>     
</div>