<!DOCTYPE html>
<html lang="zh">
<head>
	<%= favicon_link_tag 'ico.png' %>
	<meta name="google-site-verification" content="kfeccGubyw1DGAsm3JtElAGzwD2xYc1h5PsbxoNqX28" >
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container-fluid">
		<%= render 'layouts/nav'  %>
	  <%= render 'shared/flash' %>
			<%= yield %>
			<%= debug(params) if Rails.env.development? %>
	</div>	
</body>
</html>
